.submitButton {
    background-color: rgb(31, 41, 55);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.submitButton:hover {
    background-color: darkgray;
}